$backgroundHead: url("../img/m-h-night.jpg") no-repeat 0 -187px;
$color: #ffffff;
$lineColor: #ff4e33;
$backgroundButton: #e3ac00;
$contentBackground: #21232e;
$footerAndButonBackground: #3b3f50;
$gradient: linear-gradient(45deg, #e3ac01 0%, #912b54 100%);