$backgroundHead: url("../img/m-h-day.jpg") no-repeat 0 -187px;
$color: #2c2f3c;
$lineColor: #14a0c7;
$backgroundButton: #699900;
$contentBackground: #fff;
$footerAndButonBackground: #21232e;
$gradient: linear-gradient(45deg, #699901 0%, #2b59de 100%);